.bd-body-primary {
  background-color: #fff !important;
}

.bg-body-primary-dark {
  background-color: #15202b !important;
}

.text-default {
  color: #000 !important;
}

.text-default-dark {
  color: #fff !important;
}
