$primary: #00acee;
$light: #eff3f4;
$danger: #dc2626;
$input-focus-box-shadow: none;
$input-focus-border-color: $primary;
$modal-header-border-width: 0;
$modal-footer-border-width: 0;
$btn-primary-color: #fff;

// new changes
$theme-colors: (
  "primary": $primary,
  "light": $light,
  "danger": $danger,
);

// text
.text-primary {
  color: $primary !important;
}

.text-primary-light {
  color: #1c9bef !important;
}

.text-search {
  color: #536371 !important;
}

.text-underline:hover {
  text-decoration: underline !important;
}

// width & height
.w-2 {
  width: 2rem;
}

.w-2_5 {
  width: 1.1rem;
}

.h-2_5 {
  height: 1.1rem;
}

// new change
.w-3 {
  width: 1.25rem;
}

.h-3 {
  height: 1.25rem;
}

.w-4 {
  width: 1.5rem;
}

.h-4 {
  height: 1.5rem;
}

.w-5 {
  width: 1.75rem;
}

.h-5 {
  height: 1.75rem;
}

.w-6 {
  width: 1.9rem;
}

.h-6 {
  height: 1.9rem;
}

.w-7 {
  width: 2.3rem;
}

.h-7 {
  height: 2.3rem;
}

.w-8 {
  width: 2.5rem;
}

.h-8 {
  height: 2.5rem;
}

.w-10 {
  width: 2.75rem;
}

.h-10 {
  height: 2.75rem;
}

.w-35 {
  width: 35%;
}

.w-13 {
  width: 3.25rem;
}

.h-13 {
  height: 3.25rem;
}

.w-14 {
  width: 3.5rem;
}

.h-14 {
  height: 3.5rem;
}

.w-15 {
  width: 3.75rem;
}

.h-15 {
  height: 3.75rem;
}

.w-16 {
  width: 4rem;
}

.h-16 {
  height: 4rem;
}

.w-32 {
  width: 8rem;
}

.h-32 {
  height: 8rem;
}

.w-34 {
  width: 8.5rem;
}

.h-34 {
  height: 8.5rem;
}

.h-100vh {
  height: 100vh;
}

// padding
.p-1_5 {
  padding: 0.3rem 0.4rem !important;
}

.py-1_5 {
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
}

.py-2_5 {
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
}

.pe-6 {
  padding-right: 4rem !important;
}

.pe-5 {
  padding-right: 3.75rem !important;
}

.pe-7 {
  padding-right: 4.25rem !important;
}

.ps-8 {
  padding-left: 4.9rem !important;
}

.py-2_5 {
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
}

.p-10 {
  padding: 6.5rem !important;
}

// responsive xl
@media (min-width: 1200px) {
  .pe-xl-6 {
    padding-right: 4rem !important;
  }
}

// margin
.me-4_5 {
  margin-right: 1.9rem !important;
}

.ms-6 {
  margin-left: 3.75rem !important;
}

.-mt-16 {
  margin-top: -4rem !important;
}

// buttons
.btn-primary {
  color: #fff !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
}

.button-hover:hover {
  background-color: #188cd8 !important;
}

.hover-gray:hover {
  background-color: #e7e7e8 !important;
  border-radius: 40px !important;
}

.hover-gray-square:hover {
  background-color: #e7e7e8 !important;
}

// hover
.user-hover:hover {
  background-color: #eef1f1 !important;
}

.retweet:hover {
  background-color: #e3f1ea !important;
  border-radius: 40px !important;
  color: #00ba7c !important;
}

.like:hover {
  background-color: #f8e3eb !important;
  border-radius: 40px !important;
  color: #f9197f !important;
}

.blue-hover:hover {
  background-color: #1d9bf01a !important;
  border-radius: 40px !important;
  color: #1c9bef !important;
}

.tweet:hover {
  background-color: #f7f7f7;
}

.hover-danger:hover {
  color: $danger !important;
  background-color: #ffeaea !important;
  border-color: #ffcfcf !important;
}

// position
.top-2 {
  top: 0.25rem;
}

.top-4 {
  top: 0.75rem;
}

.top-0vh {
  top: 0vh;
}

.top-minus-25 {
  top: -25%;
}

.start-2 {
  left: 0.25rem;
}

.end-2 {
  right: 0.25rem;
}

.start-3 {
  left: 0.7rem;
}

.bottom-minus-10 {
  bottom: -10%;
}

// background
.bg-red {
  color: #f9197f !important;
}

.bg-green {
  color: #00ba7c !important;
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.bg-blue {
  background-color: #1d9bf0 !important;
}

.bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
}

.bg-search {
  background-color: #eff3f4 !important;
}

.bg-gray {
  background-color: #f6f9f9 !important;
}

.bg-dark-transparent {
  background-color: #0f1419bf !important;
}

.bg-coverPic {
  background-color: #cfd9dd !important;
}

// form
.form-control {
  border-width: 2px !important;
}

.form-control:focus {
  border-width: 2px !important;
}

.form-control:focus::-webkit-input-placeholder {
  color: $primary !important;
  font-weight: 100;
}

// new change
.form-control-light:focus::-webkit-input-placeholder {
  color: #6c757d !important;
}

// z-index
.z-10 {
  z-index: 10 !important;
}

.z-high {
  z-index: 1060 !important;
}

.z-max {
  z-index: 1070 !important;
}

// cursor
.cursor-pointer {
  cursor: pointer;
}

.link-hover:hover {
  // background-color: #ebeaea;
  background-color: #eef1f1 !important;
  border-radius: 40px !important;
}

.close-hover:hover {
  background-color: #eeeeee !important;
  border-radius: 40px !important;
}

.logo-hover:hover {
  background-color: #1d9bf01a !important;
  border-radius: 40px;
}

.logout:hover {
  background: #f6f9f9 !important;
}

.trend-hover:hover {
  background-color: #eef1f1 !important;
}

// font-size
.h-4_5 {
  font-size: 1.25rem !important;
}

.h7 {
  font-size: 0.95rem !important;
}

.fs-4_5 {
  font-size: 1.43rem !important;
}

.fs-7 {
  font-size: 0.95rem !important;
}

.fs-7_5 {
  font-size: 0.9rem !important;
}

.fs-8 {
  font-size: 0.85rem;
}

.fs-9 {
  font-size: 0.8rem !important;
}

.tweet-text {
  word-break: break-word;
  font-size: 15px;
  line-height: 1.3rem;
}

// text area resizing
.resize-none {
  resize: none;
}

// border
.border-radius-5 {
  border-radius: 1rem !important;
}

.tweet-caption {
  font-size: 1.25rem !important;
}

.border-avatar {
  border: 4px solid white !important;
}

.border-active {
  border-bottom: 4px solid #1d9bf0 !important;
}

// object-fit/position

.object-cover {
  object-fit: cover !important;
}

.object-center {
  object-position: center !important;
}

// line-height
.line-height-sm {
  line-height: 1.25rem !important;
}

.line-height-lg {
  line-height: 1.75rem !important;
}

// others
.blur {
  backdrop-filter: blur(4px);
}

.opacity-50 {
  opacity: 0.5;
}

.fw-medium {
  font-weight: 500 !important;
}

.link {
  color: #000;
}

.link:hover {
  color: #000;
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
