$primary: #00acee;
// new change
$light: #eff3f4;
$danger: #dc2626;
$input-focus-box-shadow: none;
$input-focus-border-color: $primary;
$modal-header-border-width: 0;
$modal-footer-border-width: 0;
$btn-primary-color: #fff;

// new changes
$theme-colors: (
  "primary": $primary,
  "light": $light,
  "danger": $danger,
);

// text
.text-primary {
  color: $primary !important;
}

.text-search {
  color: #536371 !important;
}

// width & height
.w-2 {
  width: 2rem;
}

// new change
.w-3 {
  width: 1.25rem;
}

.h-3 {
  height: 1.25rem;
}

.w-4 {
  width: 1.5rem;
}

.h-4 {
  height: 1.5rem;
}

.w-5 {
  width: 1.75rem;
}

.h-5 {
  height: 1.75rem;
}

.w-6 {
  width: 1.9rem;
}

.h-6 {
  height: 1.9rem;
}

.w-7 {
  width: 2.3rem;
}

.h-7 {
  height: 2.3rem;
}

.w-35 {
  width: 35%;
}

.w-32 {
  width: 8rem;
}

.h-32 {
  height: 8rem;
}

// padding
.p-1_5 {
  padding: 0.3rem 0.4rem !important;
}

.pe-6 {
  padding-right: 4rem !important;
}

.pe-5 {
  padding-right: 3.75rem !important;
}

.pe-7 {
  padding-right: 4.25rem !important;
}

.py-2_5 {
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
}

// buttons
.btn-primary {
  color: #fff !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
}

.button-hover:hover {
  background-color: #188cd8 !important;
}

.hover-gray:hover {
  background-color: #e7e7e8 !important;
  border-radius: 40px !important;
}

// position
.top-2 {
  top: 0.25rem;
}

.end-2 {
  right: 0.25rem;
}

.bottom-minus-10 {
  bottom: -10%;
}

// background
.bg-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.bg-blue {
  background-color: #00acee !important;
}

.bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
}

.bg-search {
  background-color: #eff3f4 !important;
}

// form
.form-control {
  border-width: 2px !important;
}

.form-control:focus {
  border-width: 2px !important;
}

.form-control:focus::-webkit-input-placeholder {
  color: $primary !important;
  font-weight: 100;
}

// new change
.form-control-light:focus::-webkit-input-placeholder {
  color: #6c757d !important;
}

// z-index
.z-10 {
  z-index: 10 !important;
}

.z-high {
  z-index: 1060 !important;
}

.z-max {
  z-index: 1070 !important;
}

// cursor
.cursor-pointer {
  cursor: pointer;
}

.link-hover:hover {
  background-color: #ebeaea;
  border-radius: 40px !important;
}

.logo-hover:hover {
  background-color: rgba(29, 155, 240, 0.1) !important;
  border-radius: 40px;
}

.logout:hover {
  background: #f6f9f9 !important;
}

// font-size
.h7 {
  font-size: 0.95rem !important;
}

// text area resizing
.resize-none {
  resize: none;
}

// border radius
.border-radius-5 {
  border-radius: 1rem !important;
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
