.bd-body-primary {
  background-color: #fff;
}

.bg-body-primary-dark {
  background-color: #15202b;
}

.close-hover:hover {
  background-color: #eef1f1 !important;
}

.close-hover-dark:hover {
  background-color: #2c3640 !important;
}
